html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-height {
  height: 100vh;
}
.landscape {
  background-image: url('../public/images/landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#boat,
#corn {
  cursor: pointer;
}
@keyframes boat-movement
{
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(1920px,0);
  }
}
.boat-animation {
  animation: boat-movement 5s;
}
#tooltip {
  display: none;
}

#tooltip[data-show] {
  display: block;
}